extends ../../layouts/defaultNotRight.pug

block main
    h1 Chỉnh sửa lịch bay

    form(method="post" action=`/admin/scheduals/edit/${schedule._id}?_method=PATCH`)
        div
            label(for="flightNumber") Mã chuyến bay
            input#flightNumber(type="text" name="flightNumber" value=schedule.flightNumber required)

        div
            label(for="departureLocation") Nơi khởi hành
            input#departureLocation(type="text" name="departureLocation" value=schedule.departureLocation required)

        div
            label(for="arrivalLocation") Nơi đến
            input#arrivalLocation(type="text" name="arrivalLocation" value=schedule.arrivalLocation required)

        div
            label(for="departureTime") Thời gian khởi hành
            input#departureTime(type="datetime-local" name="departureTime" value=schedule.departureTime.toISOString().slice(0,16) required)

        div
            label(for="arrivalTime") Thời gian đến
            input#arrivalTime(type="datetime-local" name="arrivalTime" value=schedule.arrivalTime.toISOString().slice(0,16) required)

        div
            label(for="economyTotal") Ghế Economy (Tổng số)
            input#economyTotal(type="number" name="economyTotal" value=schedule.economySeats.total required)

        div
            label(for="economyPrice") Giá Economy
            input#economyPrice(type="number" step="0.01" name="economyPrice" value=schedule.economySeats.price required)

        div
            label(for="businessTotal") Ghế Business (Tổng số)
            input#businessTotal(type="number" name="businessTotal" value=schedule.businessSeats.total required)

        div
            label(for="businessPrice") Giá Business
            input#businessPrice(type="number" step="0.01" name="businessPrice" value=schedule.businessSeats.price required)

        div
            button(type="submit") Lưu chỉnh sửa
