extends ../../layouts/defaultNotRight.pug
include ../../mixins/alert.pug
include ../../mixins/pagination.pug
include ../../mixins/filter-status.pug  
include ../../mixins/sortBooking.pug
include ../../mixins/moment.pug 

include ../../mixins/sortSchedual.pug



block main
    +alert-success(5000)
    h1(class="mb-4 mt-4") Lịch bay
    .fliter-schedual
        .filter-section
            .filter-section__header
                .filter__shedual Filter
                button.reset-button(type="button" onclick="window.location='?';") Reset
            form#filterForm(action='' method='GET')
                .filter-group
                    h4 Status
                    select(name="status")
                        option(value="") All
                        option(value="Scheduled") Scheduled
                        option(value="Delayed") Delayed
                        option(value="Cancelled") Cancelled

                .filter-group
                    h4 Price Range
                    .range-inputs
                        input(type="number" name="priceStart" placeholder="Start" min="0")
                        input(type="number" name="priceEnd" placeholder="Up to" min="0")

                .filter-group
                    h4 Flight Number
                    input(type="text" name="flightNumber" placeholder="e.g. VN456")

                button(type="submit") Apply Filters


        .schedual-list
            form.flight-search-bar(id="form-search") 
                .location
                    label.shcedual_label From
                    input.shcedual_input#from(type='text' name="from" placeholder='e.g. HaNoi' value=from)
                .switch
                    span.icon &lrarr;
                .location
                    label.shcedual_label To
                    input.shcedual_input#to(type='text' name='to' placeholder='e.g. SaiGon' value=to)
                .detail
                    label.shcedual_label Departure Date
                    input.shcedual_input#departureDate(type='date' name='departureDate' value=departureDate)
                .search-btn
                    button(type='submit' class="schedual_submit")
                        <i class="fa-solid fa-magnifying-glass"></i>
            form#filterSeat(action='' method='GET')
                .detail
                    label.shcedual_label Seat Class
                    select.shcedual_select(name='seatClass' id='seatClass')
                        option(value='economy' selected=selectedClass=='economy') Economy
                        option(value='business' selected=selectedClass=='business') Business
            
            .flight-list
                .flight-list_inner-head
                    .flight__sum
                        .flight__sum_title Danh sách chuyến bay
                        .flight__sum_subTitle (#{schedual.length} result#{schedual.length > 1 ? 's' : ''})
                    .flight-list__sort
                        .flight-list__sort
                            <span class="flight-list__sort_title">Sắp xếp theo:</span>
                            +sort()

                        a(href=`/${prefixAdmin}/scheduals/create` class="flight-list__add")
                            <i class="fa-solid fa-plus"></i>
                            .flight-list__add_text Thêm mới


                each flight in schedual
                    .flight-card
                        .flight-info
                            .airline-section
                                //- img.logo(src="path/to/logo.png" alt="Airline Logo")
                                .airline-details
                                    span.flight-number #{flight.flightNumber}
                            .flight-details
                                .schedual_time-section
                                    span.departure-time  #{new Date(flight.departureTime).toLocaleString()} 
                                    span.location #{flight.departureLocation}
                                .schedual_route
                                    span.duration #{flight.duration} 
                                    .route_hihi
                                        span.airport-code #{flight.departureLocation}
                                        span.separator ←
                                        span.icon ✈️
                                        span.separator →
                                        span.airport-code #{flight.arrivalLocation} 
                                    
                                .schedual_arrival-section
                                    span.arrival-time #{new Date(flight.arrivalTime).toLocaleString()}
                                    span.location #{flight.arrivalLocation} 


                        .schedual-pvd
                            .price
                                if selectedClass == 'business'
                                    b #{flight.businessSeats.price} VND
                                else
                                    b #{flight.economySeats.price} VND

                            .shedual_status 
                                | #{flight.status}
                            a.btn_flight(href=`/admin/scheduals/detail/${flight._id}`) View Detail
            if(schedual.length > 0)
                +initPagination(pagination)
    script(src="/admin/script/schedual.js") 