extends ../../layouts/default.pug

block main
    section
        .custom-row.custom-mt-4
            .custom-col-12
                .custom-card.custom-mb-4
                    .custom-card-header Thông tin tài khoản
                    .custom-card-body
                        if (user.avatar)
                            img(src=user.avatar style="height: 100px;margin-bottom: 15px;")
                        if (user.fullName)
                            p Họ tên: <b>#{user.fullName}</b>
                        if (user.email)
                            p Email: <b>#{user.email}</b>
                        //- if (role.title)
                        //-     p Phân quyền: <b>#{role.title}</b>

            .custom-col-12.custom-col-lg-6
                .custom-card.custom-mb-4
                    .custom-card-header Danh mục tàu bay
                    .custom-card-body
                        p Số lượng: <b>#{statistic.dataPlane.total}</b>
                        p Hoạt động: <b>#{statistic.dataPlane.active}</b>
                        p Dừng hoạt động: <b>#{statistic.dataPlane.inactive}</b>

            .custom-col-12.custom-col-lg-6
                .custom-card.custom-mb-4
                    .custom-card-header Danh sách đặt vé
                    .custom-card-body
                        p Số lượng: <b>#{statistic.bookings.total}</b>
                        p Vé đã xác nhận: <b>#{statistic.bookings.confirmed}</b>
                        p Vé chờ xác nhận: <b>#{statistic.bookings.pending}</b>
                        p Vé đã huỷ: <b>#{statistic.bookings.canceled}</b>

            .custom-col-12.custom-col-lg-6
                .custom-card.custom-mb-4
                    .custom-card-header Tài khoản admin
                    .custom-card-body
                        p Số lượng: <b>#{statistic.account.total}</b>
                        p Hoạt động: <b>#{statistic.account.active}</b>
                        p Dừng hoạt động: <b>#{statistic.account.inactive}</b>

            .custom-col-12.custom-col-lg-6
                .custom-card.custom-mb-4
                    .custom-card-header Tài khoản client
                    .custom-card-body
                        p Số lượng: <b>#{statistic.user.total}</b>
                        p Hoạt động: <b>#{statistic.user.active}</b>
                        p Dừng hoạt động: <b>#{statistic.user.inactive}</b>
            include destination_booking.pug