.right 
    .top 
        button#menu_bar 
            span.material-symbols-sharp menu 
        .theme-toggler
            span.material-symbols-sharp.active light_mode 
            span.material-symbols-sharp dark_mode
        .profile
            .info
                a(
                    href=`/${prefixAdmin}/my-account`
                    class="btn btn-primary btn-sm mr-2"
                ) #{user.name}
                    
                <p>Admin</p>
                small.text-muted
            .profile-photo
                img(src="/client/images/logo.png" alt="")
    .recent_updates
        h2 Recent Update 
        .updates
            .update
                .profile-photo
                    img(src="/client/images/logo.png")   
                .message
                    <p><b>Babar</b> Recived his order of USB</p>
            .update
                .profile-photo
                    img(src="/client/images/logo.png")
                .message
                    <p><b>Babar</b> Recived his order of USB</p>
            .update
                .profile-photo
                    img(src="/client/images/logo.png")
                .message
                    <p><b>Babar</b> Recived his order of USB</p>
    .dashboard
        .popular-airlines
            h3 Popular Airlines
            .chart
                <div class="chart-container"> 
                    <canvas id="airlinesChart"></canvas>
                </div>
                .legend
                    if(scheduals.length > 0)
                        each item, index in scheduals.slice(0, 5)
                            .item
                                span.color.gold
                                |  #{item.flightNumber} - #{(1 * 100 / scheduals.length).toFixed(2)}%
                            //- .item
                            //-     span.color.black
                            //-     |  FlyFast Airways - 30%
                            //- .item
                            //-     span.color.grey
                            //-     |  AeroJet - 20%
                            //- .item
                            //-     span.color.light-grey
                            //-     |  Nimbus Airlines - 15%
        .top-flight-routes
            h3 Top Flight Routes
            .routes
                .route
                    p Paris (CDG) - New York (JFK)
                    span.distance 5,834 km
                    .bar
                        .filled.black(style='width: 70%;')
                    span.passengers 140,000 Passengers
                .route
                    p Hong Kong (HKG) - Los Angeles (LAX)
                    span.distance 11,062 km
                    .bar
                        .filled.gold(style='width: 65%;')
                    span.passengers 130,000 Passengers
                .route
                    p Frankfurt (FRA) - Bangkok (BKK)
                    span.distance 8,927 km
                    .bar
                        .filled.black(style='width: 60%;')
                    span.passengers 120,000 Passengers
                .route
                    p Los Angeles (LAX) - Tokyo (HND)
                    span.distance 8,236 km
                    .bar
                        .filled.black(style='width: 55%;')
                    span.passengers 110,000 Passengers
                .route
                    p Singapore (SIN) - London (LHR)
                    span.distance 10,885 km
                    .bar
                        .filled.black(style='width: 50%;')
                    span.passengers 100,000 Passengers


