extends ../../layouts/defaultNotRight.pug
include ../../mixins/alert.pug

block main
    +alert-success(5000)
    +alert-error(5000)

    h1(class="mb-4 mt-4") Chỉnh sửa thông báo hãng hàng không
    form(
        action=`/${prefixAdmin}/campaign/edit/${info._id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=info.title
                required
            )
        div(class="form-group")
            label(for="type") Loại thông báo
            select(
                class="form-control"
                id="type"
                name="type"
                required
            )
                option(value="introduction" selected=(info.type === "introduction")) Giới thiệu
                option(value="promotion" selected=(info.type === "promotion")) Khuyến mãi
                option(value="announcement" selected=(info.type === "announcement")) Thông báo
                option(value="news" selected=(info.type === "news")) Tin tức
        div(class="form-group")
            label(for="content") Nội dung
            textarea(
                class="form-control"
                id="content"
                name="content"
                rows="5"
                required
            ) #{info.content}
        div(
            class="form-group"
            upload-image
        )
            label(for="thumbnail") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            img(
                src=info.image
                class="image-preview"
                upload-image-preview
            )
        div(class="form-group")
            label(for="startDate") Ngày bắt đầu
            input(
                type="date"
                class="form-control"
                id="startDate"
                name="startDate"
                value=(info.startDate ? info.startDate.toISOString().split('T')[0] : '')
            )
        div(class="form-group")
            label(for="endDate") Ngày kết thúc
            input(
                type="date"
                class="form-control"
                id="endDate"
                name="endDate"
                value=(info.endDate ? info.endDate.toISOString().split('T')[0] : '')
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(info.status === "active")
            )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInactive"
                name="status"
                value="inactive"
                checked=(info.status === "inactive")
            )
            label(for="statusInactive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            label(for="priority") Độ ưu tiên
            input(
                type="number"
                class="form-control"
                id="priority"
                name="priority"
                value=info.priority
                min="0"
            )
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật
            span.button-space(style="margin-left: 10px")
                a(href=`/${prefixAdmin}/campaign`, class="btn btn-secondary") Quay lại
