extends ../../layouts/defaultNotRight.pug
include ../../mixins/alert.pug
include ../../mixins/pagination.pug
include ../../mixins/campaignSearch.pug
include ../../mixins/filter-type.pug  


include ../../mixins/sortInfoAirline.pug

block main
    +alert-success(5000)
    h1(class="mb-4 mt-4") Trang thông báo 
    .toolbar
        .toolbar-left
            +filter-type(filterType)
            button.btn-toolbar
                +sort(keyword)
        .toolbar-right
            +search(keyword)
            a(
                href=`/${prefixAdmin}/campaign/create`
            ).btn-add-promo + Thêm mới 

    main.promo-container
        each info in infos 
            .promo-card
                if info.thumbnail
                    img.promo-image(src=`${info.thumbnail}` alt=info.title)
                else
                    img.promo-image(src='/admin/image/campaign.jpeg' alt='No Image')
                .promo-content
                    h2= info.title
                    p
                        | #{info.content}
                    if info.startDate && info.endDate
                        span Promo Period: #{new Date(info.startDate).toLocaleDateString()} - #{new Date(info.endDate).toLocaleDateString()}
                    if info.type === "promotion"
                        span(style="color: green; font-weight: bold;") (Promotion)
                    else if info.type === "announcement"
                        span(style="color: blue; font-weight: bold;") (Announcement)
                    else if info.type === "news" 
                        span(style="color: orange; font-weight: bold;") (News)
                    else if info.type === "introduction"
                        span(style="color: purple; font-weight: bold;") (Introduction)
                .promo-footer
                    a(
                        href=`/${prefixAdmin}/campaign/edit/${info._id}`
                        class="btn btn-warning btn-sm"
                    ) Sửa
                    button( 
                        class="btn btn-danger btn-sm ml-1"
                        button-delete
                        data-id=info._id
                    ) Delete
    form(
        id="form-delete-item"
        method="POST"
        action=""
        data-path=`/${prefixAdmin}/campaign/delete`
    ) 
    script(src="/admin/script/scriptInfoAirplane.js") 